{% extends 'layout/base.html' %}
{% load static %}

{% block title %}Blog{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/plugins/owl-carousel/owl.carousel.css' %}">
{% endblock %}

{% block content %}
        	<div class="page-header text-center" style="background-image: url('{% static 'images/page-header-bg.jpg' %}')">
        		<div class="container">
        			<h1 class="page-title">Blog</h1>
        		</div><!-- End .container -->
        	</div><!-- End .page-header -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'shared:home' %}">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Blog</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Listing</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
                <div class="container">
                	<div class="row">
                		<div class="col-lg-9">
                            {% for blog in blogs %}
                                <article class="entry entry-list">
                                <div class="row align-items-center">
                                    <div class="col-md-5">
                                        <figure class="entry-media">
                                            <a href="{% url 'blogs:detail' blog.pk %}">
                                                {% if blog.image %}
                                                    <img src="{{ blog.image.url }}" alt="{{ blog.title }}">
                                                {% else %}
                                                    <img src="{% static 'images/blog/listing/post-1.jpg' %}" alt="image desc">
                                                {% endif %}
                                            </a>
                                        </figure><!-- End .entry-media -->
                                    </div><!-- End .col-md-5 -->

                                    <div class="col-md-7">
                                        <div class="entry-body">
                                            <div class="entry-meta">
                                                <span class="entry-author">
                                                    by <a href="#">{{ blog.authors.first.full_name }}</a>
                                                </span>
                                                <span class="meta-separator">|</span>
                                                <a href="#">{{ blog.created_at|date:"M d, Y" }}</a>
                                                <span class="meta-separator">|</span>
                                                <a href="#">3 Comments</a>
                                            </div><!-- End .entry-meta -->

                                            <h2 class="entry-title">
                                                <a href="{% url 'blogs:detail' blog.pk %}">{{ blog.title }}</a>
                                            </h2><!-- End .entry-title -->

                                            <div class="entry-cats">
                                                in {% for cat in blog.categories.all %}
                                                    <a href="#">{{ cat.title }}</a>
                                                    {% if not forloop.last %},{% endif %}
                                                {% endfor %}
                                            </div><!-- End .entry-cats -->

                                            <div class="entry-content">
                                                <p>{{ blog.short_description }}</p>
                                                <a href="{% url 'blogs:detail' blog.pk %}" class="read-more">Continue Reading</a>
                                            </div><!-- End .entry-content -->
                                        </div><!-- End .entry-body -->
                                    </div><!-- End .col-md-7 -->
                                </div><!-- End .row -->
                            </article><!-- End .entry -->
                            {% endfor %}

                			<nav aria-label="Page navigation">
							    <ul class="pagination">
							        <li class="page-item disabled">
							            <a class="page-link page-link-prev" href="#" aria-label="Previous" tabindex="-1" aria-disabled="true">
							                <span aria-hidden="true"><i class="icon-long-arrow-left"></i></span>Prev
							            </a>
							        </li>
							        <li class="page-item active" aria-current="page"><a class="page-link" href="#">1</a></li>
							        <li class="page-item"><a class="page-link" href="#">2</a></li>
							        <li class="page-item">
							            <a class="page-link page-link-next" href="#" aria-label="Next">
							                Next <span aria-hidden="true"><i class="icon-long-arrow-right"></i></span>
							            </a>
							        </li>
							    </ul>
							</nav>
                		</div><!-- End .col-lg-9 -->

                		<aside class="col-lg-3">
                			<div class="sidebar">
                				<div class="widget widget-search">
                                    <h3 class="widget-title">Search</h3><!-- End .widget-title -->

                                    <form action="#">
                                        <label for="ws" class="sr-only">Search in blog</label>
                                        <input type="search" class="form-control" name="ws" id="ws" placeholder="Search in blog" required>
                                        <button type="submit" class="btn"><i class="icon-search"></i><span class="sr-only">Search</span></button>
                                    </form>
                				</div><!-- End .widget -->

                                <div class="widget widget-cats">
                                    <h3 class="widget-title">Categories</h3><!-- End .widget-title -->

                                    <ul>
                                        {% for category in categories %}
                                            <li><a href="#">{{ category.title }}<span>{{ category.blogs.count }}</span></a></li>
                                        {% endfor %}
                                    </ul>
                                                                    </div><!-- End .widget -->

                                <div class="widget">
                                    <h3 class="widget-title">Popular Posts</h3><!-- End .widget-title -->

                                    <ul class="posts-list">
                                        {% for post in popular_posts %}
                                            <li>
                                            <figure>
                                                <a href="#">
                                                    {% if post.image %}
                                                        <img src="{{ post.image.url }}" alt="{{ post.title }}">
                                                    {% else %}
                                                        <img src="{% static 'images/blog/sidebar/post-1.jpg' %}" alt="post">
                                                    {% endif %}
                                                </a>
                                            </figure>

                                            <div>
                                                <span>{{ post.created_at|date:"M d, Y" }}</span>
                                                <h4><a href="#">{{ post.title }}</a></h4>
                                            </div>
                                        </li>
                                        {% endfor %}

                                    </ul><!-- End .posts-list -->
                                </div><!-- End .widget -->

                                <div class="widget widget-banner-sidebar">
                                    <div class="banner-sidebar-title">ad box 280 x 280</div><!-- End .ad-title -->
                                    
                                    <div class="banner-sidebar banner-overlay">
                                        <a href="#">
                                            <img src="{% static 'images/blog/sidebar/banner.jpg' %}" alt="banner">
                                        </a>
                                    </div><!-- End .banner-ad -->
                                </div><!-- End .widget -->

                                <div class="widget">
                                    <h3 class="widget-title">Browse Tags</h3><!-- End .widget-title -->

                                    <div class="tagcloud">
                                        {% for tag in tags %}
                                            <a href="#">{{ tag.title }}</a>
                                        {% endfor %}
                                    </div><!-- End .tagcloud -->
                                </div><!-- End .widget -->

                                <div class="widget widget-text">
                                    <h3 class="widget-title">About Blog</h3><!-- End .widget-title -->

                                    <div class="widget-text-content">
                                        <p>Our blog shares insights on lifestyle, fashion, travel, and shopping to inspire your everyday life.</p>
                                    </div><!-- End .widget-text-content -->
                                </div><!-- End .widget -->
                			</div><!-- End .sidebar -->
                		</aside><!-- End .col-lg-3 -->
                	</div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .page-content -->

{% endblock %}